// CONTROLER
// show hide

// #secondary-navigation { display: block; }
// #secondary-navigation.is-active { display: none; }

// #main { display: block; }
// #main.is-active { display: none; }

// #main-navigation { display: block; }
// #main-navigation.is-active { display: none; }

// #navigation-open { display: none; }
// #navigation-open.is-active { display: block; }

// .word-content { display: none; }
// .word-content.is-active { display: block }

