/* Global atributes */
@import "../2-base/_colors.scss";
@import "../3-layout/_breakpoint.scss";

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
  margin : 0;
  padding : 0;
}
body {
  width: 100vw;
  height: auto;
  font-family: 'Montserrat', sans-serif; 
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: #F3ECEC;
  // font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
ul {
  margin: 0px;
  padding: 0px;
}
main {
  height: auto;
  width: 100vw;
  position: relative;
  z-index: 99;
  bottom: 0;
}

.filler {
  padding-top: 8vh;
}
.middle {
  width: 100%;
  margin: 0 auto;
}
// ACTIVE NAVIGATION
.link_active {font-weight: 900 !important;}


// scroll bar
*::-webkit-scrollbar {
  width: 5px;
  height: 0.5px;
}
*::-webkit-scrollbar-track {
  background: $green-0;
}
::-webkit-scrollbar-thumb {
  background: lighten($green-0, 20%);
}
*::-webkit-scrollbar-thumb:hover {
  background: $green-0;
}
