/* Global atributes */
@import "../2-base/_colors.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: #F3ECEC;
}
ul {
  margin: 0px;
  padding: 0px;
}

main {
  height: 100%;
  width: 100%;
  display: inherit;
}
