@import "../3-layout/_breakpoint.scss";
@import "../2-base/_colors.scss";


// Viaoda Libre
@font-face {
  font-family: 'Viaoda Libre';
  src: url('../fonts/ViaodaLibre/ViaodaLibre-Regular.woff2') format('woff2'),
      url('../fonts/ViaodaLibre/ViaodaLibre-Regular.woff') format('woff'),
      url('../fonts/ViaodaLibre/ViaodaLibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
// Margaret
@font-face {
  font-family: 'Margaret';
  src: url('fonts/Margaret/Margaret-Bold.woff2') format('woff2'),
      url('fonts/Margaret/Margaret-Bold.woff') format('woff'),
      url('fonts/Margaret/Margaret-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
// Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Thin.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-Thin.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-Black.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Italic.woff2') format('woff2'),
      url('../fonts/Montserrat/Montserrat-Italic.woff') format('woff'),
      url('../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}





/*  Fluid TYPO  */
// https://codepen.io/MadeByMike/pen/7744b5fc445e2b34a9e2bb1e21e8b09c
@mixin fluid-type($properties, $min-screen, $max-screen, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-screen) {
      @each $property in $properties {
        #{$property}: calc-interpolation($min-screen, $min-value, $max-screen, $max-value); 
      }
    }

    @media screen and (min-width: $max-screen) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

// Requires the calc-interpolation function which can also be used independently

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
		$a: ($max-value - $min-value) / ($max-screen - $min-screen);
	$b: $min-value - $a * $min-screen; 

	$sign: "+";
	@if ($b < 0) {
		$sign: "-";
		$b: abs($b);
	}
	@return calc(#{$a*100}vw #{$sign} #{$b});
}


/* Fluid modular scale headings */

// Change scale
$mod_1: 1.183;
$mod_2: 1.533;

// Calculate Modular Scale
// You don't need to calculate this with Sass 
// You can use values from http://type-scale.com/
// Or random values :)

$h1-min: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
$h1-max: $mod_2 * $mod_2 * $mod_2 * $mod_2 * 1rem;

$h2-min: $mod_1 * $mod_1 * $mod_1 * 1rem;
$h2-max: $mod_2 * $mod_2 * $mod_2 * 1rem;

$h3-min: $mod_1 * $mod_1 * 1rem;
$h3-max: $mod_2 * $mod_2 * 1rem;

$h4-min: $mod_1 * 1rem;
$h4-max: $mod_2 * 1rem;

$h5-min: 1rem;
$h5-max: 1rem;

$h6-min: (1rem / $mod_1);
$h6-max: (1rem / $mod_2);


// Apply fluid type mixin
h1{ @include fluid-type(font-size,37.5rem, 80rem, $h1-min, $h1-max); }
h2{ @include fluid-type(font-size,37.5rem, 80rem, $h2-min, $h2-max); }
h3{ @include fluid-type(font-size,37.5rem, 80rem, $h3-min, $h3-max); }
h4{ @include fluid-type(font-size,37.5rem, 80rem, $h4-min, $h4-max); }
h5{ @include fluid-type(font-size,37.5rem, 80rem, $h5-min, $h5-max); }
h6{	@include fluid-type(font-size, 37.5rem, 80rem, $h6-min, $h6-max); }





h1, h2, h3, h4, h5, h6 {
  max-width: 30ch;
  line-height: 1;
  font-weight: 150;
  letter-spacing: 0.05em;
  margin: 0;
  // font-family: "Margaret Bold", serif;
  font-family: 'Viaoda Libre';
  color: $gatsby-gold;
}
p, a{
  font-family: 'Montserrat', sans-serif; 
  font-weight: 400; 
  line-height: 1.15;
  text-decoration: none;
  max-width: 65ch;
}
