
// Square Gallery
.square-gallery {
 --xs-screen-items: 1;
 --small-screen-items: 1;
 --medium-screen-items: 2;
 --large-screen-items: 3;
 --xl-screen-items: 4;
 --xxl-screen-items: 5;

 --width: 100vw;

  position: relative;
  top: 15vh;
  position: absolute;
  z-index: -1;  

 display: grid;
 background: white;
 width: var(--width);
 margin: 0 auto;
 border-radius: 4px;
 overflow: hidden;
 box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
   0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
   0 32px 16px rgba(0, 0, 0, 0.09);

 .gallery-item {
  display: flex;
  justify-content: center;
  // width: calc(var(--width) / var(--items));
  // height: calc(var(--width) / var(--items)); /* To keep it square*/
  //padding-bottom: calc(var(--width) / var(--items)); /* alternate way to keep it square*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  transition: all 0.2s ease-out;
  &:nth-child(2n + 1) {
   opacity: 0.7;
  }
  &:hover {
   opacity: 1;
  }
 }


   @mixin xs-screen {
    grid-template-columns: repeat(var(--xs-screen-items), 1fr);
    .gallery-item {
     width: calc(var(--width) / var(--xs-screen-items));
     height: calc(var(--width) / var(--xs-screen-items));
    }
   }
   @mixin small-screen {
    grid-template-columns: repeat(var(--small-screen-items), 1fr);
    .gallery-item {
     width: calc(var(--width) / var(--small-screen-items));
     height: calc(var(--width) / var(--small-screen-items));
    }
   }
   @mixin medium-screen {
    grid-template-columns: repeat(var(--medium-screen-items), 1fr);
    .gallery-item {
     width: calc(var(--width) / var(--medium-screen-items));
     height: calc(var(--width) / var(--medium-screen-items));
    }
   }
   @mixin large-screen {
    grid-template-columns: repeat(var(--large-screen-items), 1fr);
    .gallery-item {
     width: calc(var(--width) / var(--large-screen-items));
     height: calc(var(--width) / var(--large-screen-items));
    }
   }
   @mixin xl-screen {
    grid-template-columns: repeat(var(--xl-screen-items), 1fr);
    .gallery-item {
     width: calc(var(--width) / var(--xl-screen-items));
     height: calc(var(--width) / var(--xl-screen-items));
    }
   }
   @mixin xxl-screen {
    grid-template-columns: repeat(var(--xxl-screen-items), 1fr);
    .gallery-item {
     width: calc(var(--width) / var(--xxl-screen-items));
     height: calc(var(--width) / var(--xxl-screen-items));
    }
   }
  
  
   @include respond-to(extrasmall-screens) { @include xs-screen(); }
   @include respond-to(small-screens) {  @include small-screen(); }
   @include respond-to(medium-screens) {  @include medium-screen(); }
   @include respond-to(large-screens) {  @include large-screen(); }
   @include respond-to(extralarge-screens) {  @include xl-screen(); }
   @include respond-to(extraextralarge-screens) {  @include xxl-screen(); }
}

// Just for the images - ignore it
@for $i from 1 through 38 {
 .gallery-item:nth-child(#{$i}) {
   background-image: url("https://randomuser.me/api/portraits/women/#{$i}.jpg");
 }
}