@import "../1-helpers/_mixins.scss";
.exhibitions {
 width: auto;
 height: 100vh;
 padding: 0 2em;
 section {
  width: 100%;
  display: grid;
  grid-gap: 1em;
  max-width: 960px;
  margin: 0 auto;
  figure, img, figcaption {
   width: auto;
  }
  figure {
   height: auto;
   place-self: center;
   img, figcaption {
    height: auto;
    object-fit: cover;
   }
  }
 }
 img {
  @include shadow();
 }
 
 @mixin mobile-screen {
  section {
   position: relative;
   top: 8vh;
   padding-bottom: 8vh;
   height: auto;
   grid-template-rows: 50% 50%;
   figure, img, figcaption {
    max-width: 250px;
   }
  }
 }

 @mixin desktop-screen {
  section {
   height: 100%;
   grid-template-columns: 50% 50%;
   figure, img, figcaption {
    max-width: 350px;
   }
  }
 }
  
 @include respond-to(extrasmall-screens) { @include mobile-screen(); }
 @include respond-to(small-screens) {  @include mobile-screen(); }
 @include respond-to(medium-screens) {  @include mobile-screen(); }
 @include respond-to(large-screens) {  @include desktop-screen(); }
 @include respond-to(extralarge-screens) {  @include desktop-screen(); }
 @include respond-to(extraextralarge-screens) {  @include desktop-screen(); }


}