footer {
    width: 100%;
    height: auto;
    .footer {
        display: grid;
        justify-items: center;
        margin: 0 auto;
        padding: 3em 0 5em 0;
        grid-gap: 2em;
    }
    .square-deco-container {
        max-width: 600px;
    }
    .footer_info {
        justify-self: start;
        max-width: 35ch;
    }
    .button-form {
        text-align: center;
    }
    .copyright {
        width: 100%;
        position: relative;
        bottom: 0;
        background-color: $dark;
        padding: 6px;
        a,p {
            font-size: 0.7em;
            margin: 0 auto;
            color: $light;
            text-align: center;
            cursor: pointer;
        }
    }
    @mixin mobile__screen {
        .footer {
            width: 90%;
            grid-template-rows: auto auto;
        }
    }
    @mixin tablet__screen {
        .footer {
            width: 90%;
            grid-template-columns: 40% 60%;
        }
    }
    @mixin desktop__screen {
        .footer {
            width: 80%;
            grid-template-columns: 40% 60%;
        }
    }

    @include respond-to(extrasmall-screens) { @include mobile__screen(); }
    @include respond-to(small-screens) {  @include mobile__screen(); }
    @include respond-to(medium-screens) {  @include mobile__screen(); }
    @include respond-to(large-screens) {  @include tablet__screen(); }
    @include respond-to(extralarge-screens) {  @include desktop__screen(); }
    @include respond-to(extraextralarge-screens) {  @include desktop__screen(); }
}

   
