

  

footer {
    width: 100%;
    height: auto;
    display: grid;
    padding: 3em 0 5em 0;

    .button-form {
        text-align: center;
    }


    @mixin mobile__screen {
        grid-template-rows: 40% 60%
    }
    @mixin tablet__screen {
        grid-template-columns: 40% 60%
    }
    @mixin desktop__screen {
        grid-template-columns: 40% 60%
    }

    @include respond-to(extrasmall-screens) { @include mobile__screen(); }
    @include respond-to(small-screens) {  @include mobile__screen(); }
    @include respond-to(medium-screens) {  @include tablet__screen(); }
    @include respond-to(large-screens) {  @include tablet__screen(); }
    @include respond-to(extralarge-screens) {  @include desktop__screen(); }
    @include respond-to(extraextralarge-screens) {  @include desktop__screen(); }
}


