
header {
  height: 10vh;
  width: 100%;
  display: grid;
  margin-top: 1em;
  .navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background-color: transparent;
    .logo {
      color: $dark;
      font-family: "Great Vibes", sans-serif !important;
      letter-spacing: 5px;
      margin-left: 2em;
    }
    .navigation {
      margin-right: 2em;
      .nav-links {
        width: auto;
        width: auto;
        display: flex;
        justify-content: end;
        align-self: center;
        position: relative;
        &.menu-active {
          transform: translateX(0%);
          opacity: 1;
        }
        a {
          color: $dark;
          text-decoration: none;
          letter-spacing: 3px;
          font-weight: bold;
          font-size: 1em;
          position: relative;
          top: 0.5vh;
          padding-right: 1em;
        }
      }
    }
  }
}

.navbar .menu-icon {
  display: none;
  cursor: pointer;
  flex-grow: 1;
  margin-left: 25px;
}

.navbar .menu-icon span {
  display: block;
  border-radius: 15px;
  width: 33px;
  height: 2px;
  background-color: $dark;
  margin: 5px;
  transition: all 0.4s ease;
}

@media screen and (max-width: 850px) {
  header {
    .navbar {
      margin-left: 2em;
      flex-wrap: wrap;
      justify-content: space-between;
      .logo {
        flex-grow: 1;
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  body {
    overflow: hidden;
  }
  header {
    margin-top: 0.5em;
    .navbar {
      .logo {
        flex-grow: 1;
      }
      .navigation {
        .nav-links {
          height: 90%;
          width: 100%;
          position: absolute;
          top: 10vh;
          left: 0px;
          justify-content: space-evenly;
          flex-direction: column;
          align-items: center;
          background-color: rgba(0, 0, 0, 1);
          transform: translateX(-100%);
          transition: transform 0.5s ease-in;
          li {
            opacity: 0;
          }
          a {
            color: $light;
          }
        }
        .menu-icon {
          display: block;
          z-index: 99999;
        }
      }
    }
  }
}



// Hamburger animation
@keyframes navLinkAnime {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.navbar .menu-icon.span-anime {
  span {
    &:first-child {
      transform: rotate(-135deg) translate(-16px, 10px);
      margin-left: -14px;
    }
    &:nth-child(2) { opacity: 0; }
    &:last-child {
      transform: rotate(135deg) translate(-20px, -5px);
      margin-left: -14px;
    }
  }
}
