
.painting  {

    img.btn_back {
        width: 25px;
        height: auto;
        position: absolute;
        top: 8vh;
        margin: 1em 0;
        cursor: pointer;
    }
    .grid-painting {
        .info-painting {
            color: $dark;
            p { max-width: 45ch; }
            ul { align-self: end; }
        }
    }
 

    @mixin mobile__screen {
        height: 100vh;
        display: grid;
        align-items: center;
        overflow: hidden;
        .painting_container {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: grid;
        }
        .container-2-50 {
            place-self: center;
        }
        .selected_painting {
            padding: 0.5em;
            width: auto;
            height: auto;
            max-height: 50vh;
            place-self: center;
        }
        article {
            justify-self: start;
            align-self: start;
        }
    }

    @mixin desktop__screen {
        height: 100vh;
        display: grid;
        align-items: center;
        overflow: hidden;
        .painting_container {
            width: 100%;
            height: 70%;
            margin: 0 auto;
            display: grid;
        }
        .container-2-50 {
            place-self: center;
        }
        .selected_painting {
            padding: 0.5em;
            width: auto;
            height: auto;
            max-height: 500px;
            justify-self: start;
        }
        article {
            justify-self: start;
            align-self: start;
        }
    }

    @include respond-to(extrasmall-screens) { @include mobile__screen(); }
    @include respond-to(small-screens) {  @include mobile__screen(); }
    @include respond-to(medium-screens) {  @include mobile__screen(); }
    @include respond-to(large-screens) {  @include desktop__screen(); }
    @include respond-to(extralarge-screens) {  @include desktop__screen(); }
    @include respond-to(extraextralarge-screens) {  @include desktop__screen(); }
}