

.painting  {

 .exit-painting {
  width: 50px;
  height: auto;
  position: absolute;
  top: 8vh;
  right: 0;
  margin: 1em;
  cursor: pointer;
  svg {
   fill: white;
  }
 }

 .grid-painting {

    .info-painting {
        color: $dark;
        p { max-width: 45ch; }
        ul { align-self: end; }
    }
}
 

    @mixin mobile__screen {
        height: 100vh;
        display: grid;
        align-items: center;
        overflow: hidden;
        .painting_container {
            width: 90%;
            height: 100%;
            margin: 0 auto;
            display: grid;
        }
        .container-2-50 {
            place-self: center;
        }
        img {
            padding: 0.5em;
            width: auto;
            height: auto;
            max-height: 50vh;
            place-self: center;
        }
        article {
            justify-self: start;
            align-self: start;
        }
    }

    @mixin desktop__screen {
        height: 100vh;
        display: grid;
        align-items: center;
        overflow: hidden;
        .painting_container {
            width: 80%;
            height: 70%;
            margin: 0 auto;
            display: grid;
        }
        .container-2-50 {
            place-self: center;
        }
        img {
            padding: 0.5em;
            width: auto;
            height: auto;
            max-height: 500px;
            place-self: center;
        }
        article {
            justify-self: start;
            align-self: start;
        }
    }

    @include respond-to(extrasmall-screens) { @include mobile__screen(); }
    @include respond-to(small-screens) {  @include mobile__screen(); }
    @include respond-to(medium-screens) {  @include mobile__screen(); }
    @include respond-to(large-screens) {  @include desktop__screen(); }
    @include respond-to(extralarge-screens) {  @include desktop__screen(); }
    @include respond-to(extraextralarge-screens) {  @include desktop__screen(); }
}