
.products {
 width: 100%;
 height: 100vh;
 display: grid;
 grid-template-rows: 50% 50%;
 padding: 2em;
}
.products_discription {
 width: auto;
 height: auto;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-gap: 1em;
 justify-items: center;
 align-items: center;
}
.products_gallery {
 width: auto;
 height: auto;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}