/* 
	Reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global atributes */
/* Color */
* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background-color: #F3ECEC;
}

ul {
  margin: 0px;
  padding: 0px;
}

main {
  height: 100%;
  width: 100%;
  display: inherit;
}

/* Color */
/* Image's */
img, iframe, object, embed, video {
  width: 100%;
  max-width: 100%;
}

figure {
  padding: 1%;
}

figcaption {
  font-size: 0.7em;
}

/* Brakepoint's */
.demo {
  display: grid;
}
@media only screen and (min-width: 151px) and (max-width: 479px) {
  .demo {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
  .demo {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 481px) and (max-width: 719px) {
  .demo {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 721px) and (max-width: 919px) {
  .demo {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 921px) and (max-width: 1199px) {
  .demo {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .demo {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Color */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1;
  font-weight: 150;
  letter-spacing: 0.05em;
  margin: 0;
}

p, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin: 0.2em 0 0.3em 0;
  text-decoration: none;
}

@media only screen and (min-width: 151px) and (max-width: 479px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.75em;
  }

  h6 {
    font-size: 0.75em;
  }

  p, a {
    font-size: 0.7em;
  }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.75em;
  }

  h6 {
    font-size: 0.75em;
  }

  p, a {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 719px) {
  h1 {
    font-size: 2.3em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.8em;
  }

  h6 {
    font-size: 0.75em;
  }

  p, a {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 721px) and (max-width: 919px) {
  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 2.3em;
  }

  h3 {
    font-size: 1.95em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.75em;
  }

  p, a {
    font-size: 1em;
  }
}
@media only screen and (min-width: 921px) and (max-width: 1199px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.95em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.75em;
  }

  p, a {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 2.8em;
  }

  h3 {
    font-size: 1.85em;
  }

  h4 {
    font-size: 1.55em;
  }

  h5 {
    font-size: 1.25em;
  }

  h6 {
    font-size: 1em;
  }

  p, a {
    font-size: 1em;
  }
}
/* Brakepoint's */
.demo {
  display: grid;
}
@media only screen and (min-width: 151px) and (max-width: 479px) {
  .demo {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
  .demo {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 481px) and (max-width: 719px) {
  .demo {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 721px) and (max-width: 919px) {
  .demo {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 921px) and (max-width: 1199px) {
  .demo {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .demo {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 12 COLUMN GRID */
.container {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.row {
  position: relative;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

[class*=col-] {
  width: 100%;
  float: left;
  min-height: 1px;
}

/* Columns */
.col {
  width: 100%;
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
  padding: 1em;
  margin: 8px;
  background-color: #ffb751;
  border: 3px solid #c73e00;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-weight: 100;
  text-align: center;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
}

@media screen and (min-width: 320px) {
  .col-wd-1 {
    width: 8.33333%;
  }

  .col-wd-2 {
    width: 16.66667%;
  }

  .col-wd-3 {
    width: 25%;
  }

  .col-wd-4 {
    width: 33.33333%;
  }

  .col-wd-5 {
    width: 41.66667%;
  }

  .col-wd-6 {
    width: 50%;
  }

  .col-wd-7 {
    width: 58.33333%;
  }

  .col-wd-8 {
    width: 66.66667%;
  }

  .col-wd-9 {
    width: 75%;
  }

  .col-wd-10 {
    width: 83.33333%;
  }

  .col-wd-11 {
    width: 91.66667%;
  }

  .col-wd-12 {
    width: 100%;
  }
}
@media screen and (min-width: 640px) {
  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 960px) {
  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
/* Grid layout */
/* Navigation */
#navBar {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 8vh;
  display: block;
  transition: top 0.3s;
  background-color: transparent;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.3s;
  z-index: 99999;
}
@media only screen and (max-width: 950px) {
  #logo {
    width: 100%;
    display: grid;
    justify-items: center;
  }
}

.logo {
  padding: 0 2vh;
  min-width: 200px;
  height: 8vh;
  width: 20%;
  display: block;
}

.nav-links a {
  color: #151515;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 1em;
  position: relative;
  top: 0.5vh;
}

nav {
  width: 100%;
  height: 8vh;
  position: absolute;
  z-index: 9999;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: center;
}
nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-self: center;
  position: relative;
  left: 20%;
  top: 0.5vh;
}
@media only screen and (max-width: 950px) {
  nav .nav-links {
    display: none;
  }
}

.nav-mobile {
  width: 0;
  height: 100%;
  background-color: #FBFBFB;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  overflow-y: hidden;
  transition: width 600ms ease-in-out;
}
.nav-mobile .nav-links {
  position: absolute;
  right: 0px;
  height: 100vh;
  top: 0;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(6, 50px);
  justify-items: center;
  align-items: center;
  padding-top: 100px;
  opacity: 0;
  transition: opacity 450ms ease-in-out;
}

.nav-mobile.is-active {
  display: block;
  width: 100%;
}
.nav-mobile.is-active .nav-links {
  opacity: 1;
}
@media only screen and (min-width: 950px) {
  .nav-mobile.is-active {
    display: none;
  }
}

/* Hamburger Icon */
.burger {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
  padding: 2vh;
}
@media only screen and (max-width: 950px) {
  .burger {
    display: block;
  }
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #151515;
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media only screen and (max-width: 950px) {
  .logo-hide {
    display: none;
  }
}
/* Paintings*/
.painting {
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  overflow: hidden;
  align-items: center;
  z-index: 99;
  background-color: #5a3098;
}
.painting .exit-painting {
  width: 50px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  cursor: pointer;
}
.painting .exit-painting svg {
  fill: white;
}
.painting .grid-painting {
  height: auto;
  width: 100%;
  display: grid;
  align-self: center;
}
.painting .grid-painting .image-painting {
  display: grid;
  width: 100%;
  height: 100%;
}
.painting .grid-painting .image-painting img {
  place-self: center;
  height: 100%;
}
.painting .grid-painting .info-painting {
  color: #FBFBFB;
  display: grid;
}
.painting .grid-painting .info-painting p {
  max-width: 45ch;
}
.painting .grid-painting .info-painting ul {
  align-self: end;
}
@media only screen and (min-width: 151px) and (max-width: 479px) {
  .painting .grid-painting {
    grid-template-columns: repeat(1, 1fr);
  }
  .painting .grid-painting .image-painting img {
    width: auto;
    padding: 2em;
  }
  .painting .grid-painting .info-painting {
    padding: 0 2em;
  }
  .painting .grid-painting .info-painting ul li {
    padding-top: 0.5em;
  }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
  .painting .grid-painting {
    grid-template-columns: repeat(1, 1fr);
  }
  .painting .grid-painting .image-painting {
    padding: 0 2em;
  }
  .painting .grid-painting .image-painting img {
    width: auto;
    padding: 2em;
  }
  .painting .grid-painting .info-painting {
    padding: 0 2em;
  }
  .painting .grid-painting .info-painting ul li {
    padding-top: 0.5em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 719px) {
  .painting .grid-painting {
    height: 70vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 50% 50%;
  }
  .painting .grid-painting .image-painting img {
    width: auto;
  }
  .painting .grid-painting .info-painting {
    padding: 0 2em;
  }
  .painting .grid-painting .info-painting ul li {
    padding-top: 0.5em;
  }
}
@media only screen and (min-width: 721px) and (max-width: 919px) {
  .painting .grid-painting {
    grid-template-columns: 60% 40%;
  }
  .painting .grid-painting .image-painting img {
    width: 80%;
  }
  .painting .grid-painting .info-painting {
    padding: 0 1em;
  }
  .painting .grid-painting .info-painting ul li {
    padding-top: 0.5em;
  }
}
@media only screen and (min-width: 921px) and (max-width: 1199px) {
  .painting .grid-painting {
    grid-template-columns: repeat(2, 1fr);
  }
  .painting .grid-painting .image-painting img {
    width: 80%;
  }
  .painting .grid-painting .info-painting {
    padding: 0 1em;
  }
  .painting .grid-painting .info-painting ul li {
    padding-top: 0.5em;
  }
}
@media only screen and (min-width: 1200px) {
  .painting .grid-painting {
    grid-template-columns: repeat(2, 1fr);
  }
  .painting .grid-painting .image-painting img {
    width: 80%;
  }
  .painting .grid-painting .info-painting {
    padding: 0 1em;
  }
  .painting .grid-painting .info-painting ul li {
    padding-top: 0.5em;
  }
}

/* Gallery */
.gallery {
  position: fixed;
  top: 15vh;
  height: 100vh;
  width: 100vw;
  display: grid;
}
.gallery .filters {
  height: 100%;
}
.gallery .filters .filter_form {
  display: grid;
  margin: 0 1rem;
}
.gallery .paintings {
  height: 100%;
  width: auto;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0 1em;
}
@media only screen and (min-width: 151px) and (max-width: 479px) {
  .gallery {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  .gallery .filter_form {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
  }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
  .gallery {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
  }
  .gallery .filter_form {
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
  }
}
@media only screen and (min-width: 481px) and (max-width: 719px) {
  .gallery {
    grid-template-columns: 250px auto;
  }
}
@media only screen and (min-width: 721px) and (max-width: 919px) {
  .gallery {
    grid-template-columns: 250px auto;
  }
}
@media only screen and (min-width: 921px) and (max-width: 1199px) {
  .gallery {
    grid-template-columns: 250px auto;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: 250px auto;
  }
}

.products {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 50% 50%;
  padding: 2em;
}

.products_discription {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: center;
  align-items: center;
}

.products_gallery {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.exhibitions {
  width: 100%;
  height: 90vh;
  position: relative;
  display: block;
  position: absolute;
  bottom: 0;
}
.exhibitions section {
  width: 100%;
  height: 100%;
  display: grid;
}
.exhibitions section figure {
  place-self: center;
}
.exhibitions section figure img, .exhibitions section figure figcaption {
  width: 25vw;
}
@media only screen and (min-width: 151px) and (max-width: 479px) {
  .exhibitions section {
    grid-template-rows: 50% 50%;
    margin-top: 3em;
    grid-gap: 3em;
  }
  .exhibitions section figure img, .exhibitions section figure figcaption {
    width: 55vw;
  }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
  .exhibitions section {
    grid-template-rows: 50% 50%;
    margin-top: 3em;
    grid-gap: 3em;
  }
  .exhibitions section figure img, .exhibitions section figure figcaption {
    width: 55vw;
  }
}
@media only screen and (min-width: 481px) and (max-width: 719px) {
  .exhibitions section {
    grid-template-rows: 50% 50%;
    margin-top: 4em;
    grid-gap: 3em;
  }
  .exhibitions section figure img, .exhibitions section figure figcaption {
    width: 55vw;
  }
}
@media only screen and (min-width: 721px) and (max-width: 919px) {
  .exhibitions section {
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (min-width: 921px) and (max-width: 1199px) {
  .exhibitions section {
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (min-width: 1200px) {
  .exhibitions section {
    grid-template-columns: 50% 50%;
  }
}

.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.about section .page_container {
  position: relative;
  top: 15%;
  margin: 0 auto 0;
  max-width: 950px;
  border: 1px solid red;
  height: 100%;
}

.about {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
}
.about section {
  overflow: hidden;
  height: 100vh;
  padding: 2em;
  overflow-y: hidden;
}
.about section img {
  width: 150px;
  height: auto;
}
.about .page1 {
  background-color: #fff;
  height: 100vh;
  overflow: hidden;
}
.about .page1 img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(250px + 30vw);
  height: auto;
  transform: translate(100px);
}
.about .page1 .black-title-container {
  position: relative;
  top: 0;
  max-width: 60ch;
}
.about .page2 {
  background-color: #cbc3c3;
}
.about .page2 .page_container .black-title-container {
  text-align: center;
}
.about .page2 .page_container .black-title-container .small-title {
  color: #C16565;
  width: 16ch;
  margin: 0 auto;
}
.about .page2 .page_container .black-title-container p {
  max-width: 60ch;
  margin: 0 auto;
}
.about .page2 .page_container .gallery-1 {
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-gap: 1.5em;
}
.about .page2 .page_container .gallery-1 img {
  width: 100%;
  height: auto;
  max-width: 450px;
  object-fit: cover;
  place-self: center;
}
/* Hamburger */
body.has-nav .menu-btn {
  color: #fff !important;
}

.logo-wrapper,
.main,
.menu-btn,
.projects-btn {
  opacity: 1;
}

.is-loading .logo-wrapper,
.is-loading .main,
.is-loading .menu-btn,
.is-loading .projects-btn {
  opacity: 0;
  visibility: hidden;
}

body.has-brand-panel .c-logo,
body.has-brand-panel .menu-btn,
body.has-brand-panel .projects-btn,
body.has-brand-panel .viewport-links a {
  color: #0b202b;
}

body.has-brand-panel.has-nav-panel .menu-btn {
  color: #fff;
}

.menu-btn > span:last-child,
.projects-btn > span:first-child {
  display: block;
}

.menu-btn {
  position: relative;
  cursor: pointer;
  color: #ecf2f7;
  margin-left: 40px;
}

.menu-btn .icon.x {
  position: absolute;
  left: -40px;
  margin-right: 0.5rem;
}

.menu-btn .icon.x {
  background: #ecf2f7 none repeat scroll 0% 0%;
}

.menu-btn .icon.x.is--inactive {
  background: none;
}

.menu-btn .icon.x.is--inactive:after,
.menu-btn .icon.x.is--inactive:before {
  background: currentColor;
  -webkit-transform: translateX(-50%) translateY(-4px) rotate(0) scaleX(1);
  transform: translateX(-50%) translateY(-4px) rotate(0) scaleX(1);
}

.menu-btn .icon.x.is--inactive:after {
  -webkit-transform: translateX(-50%) translateY(2px) rotate(0) scaleX(1);
  transform: translateX(-50%) translateY(2px) rotate(0) scaleX(1);
  -webkit-animation: menuIcon 5s ease 2s infinite;
  animation: menuIcon 5s ease 2s infinite;
}

@-webkit-keyframes menuIcon {
  30% {
    -webkit-transform: translateX(-50%) translateY(2px) rotate(0) scaleX(0.4);
    transform: translateX(-50%) translateY(2px) rotate(0) scaleX(0.4);
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }
  40% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
  60%, 80% {
    -webkit-transform: translateX(-50%) translateY(2px) rotate(0) scaleX(1);
    transform: translateX(-50%) translateY(2px) rotate(0) scaleX(1);
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
}
@keyframes menuIcon {
  30% {
    -webkit-transform: translateX(-50%) translateY(2px) rotate(0) scaleX(0.4);
    transform: translateX(-50%) translateY(2px) rotate(0) scaleX(0.4);
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }
  40% {
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
  60%, 80% {
    -webkit-transform: translateX(-50%) translateY(2px) rotate(0) scaleX(1);
    transform: translateX(-50%) translateY(2px) rotate(0) scaleX(1);
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
}
/* Icon's */
/* Buttons's */
.btn_form {
  width: 100px;
  height: 100px;
}

.tx-filter {
  white-space: nowrap;
  font-weight: 500;
  color: #151515;
  font-size: 0.9em;
}

.tx-filter-price {
  white-space: nowrap;
  font-weight: 800;
  color: #151515;
  font-size: 0.7em;
}

.contact-dropbox-container {
  width: auto;
}
.contact-dropbox-container p {
  align-self: end;
}

.selectbox {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.selectbox .selectbox__displayWord {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #151515;
  overflow: hidden;
  text-overflow: ellipsis;
}
.selectbox .selectbox__displayWord::after {
  position: absolute;
  top: 50%;
  right: 16px;
  content: "";
  background: url("../images/icons/arrow-down-light-01.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 16px;
  width: 16px;
  color: #151515;
  transform: translateY(-50%);
  transition: all 0.4s;
}
.selectbox .selectbox__displayWord, .selectbox .dropdown_options {
  padding: 12px 24px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10+ and Edge */
  -moz-user-select: none;
  /* Mozila */
}
.selectbox .option-container {
  width: 100%;
  max-height: 0;
  position: absolute;
  z-index: 999;
  opacity: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  background-color: #FBFBFB;
  top: 40px;
}
.selectbox .option-container .dropdown_options:hover {
  font-weight: 800;
  font-style: italic;
}

.selectbox--active .option-container {
  max-height: 270px;
  opacity: 1;
  overflow-y: scroll;
}

.selectbox--active .selectbox__displayWord::after {
  transform: translateY(-50%) rotateZ(180deg);
}

.option__label {
  cursor: pointer;
}

/* Input */
textarea:focus, input:focus {
  outline: none;
}

.inputFilled {
  position: relative;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #FBFBFB;
  width: 100%;
}
.inputFilled .control-label {
  font-family: "Montserrat";
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #FBFBFB;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.inputFilled .bar-form {
  position: relative;
  border-bottom: 0.0625rem solid #151515;
  display: block;
}
.inputFilled input, .inputFilled textarea {
  width: 100%;
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  line-height: 1.9;
  color: transparent;
  border-width: 0;
  border-color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.inputFilled input {
  /* Show green borders when valid */
}
.inputFilled input:focus, .inputFilled input:valid, .inputFilled input.form-file, .inputFilled input.has-value {
  color: #FBFBFB;
}
.inputFilled textarea:focus, .inputFilled textarea:valid, .inputFilled textarea.form-file, .inputFilled textarea.has-value {
  color: #FBFBFB;
}
.inputFilled input:focus ~ .control-label, .inputFilled input:valid ~ .control-label, .inputFilled input.form-file ~ .control-label, .inputFilled input.has-value ~ .control-label {
  font-size: 0.8rem;
  color: #FBFBFB;
  top: -1rem;
  left: 0;
}
.inputFilled textarea:focus ~ .control-label, .inputFilled textarea:valid ~ .control-label, .inputFilled textarea.form-file ~ .control-label, .inputFilled textarea.has-value ~ .control-label {
  font-size: 0.8rem;
  color: #FBFBFB;
  top: -1rem;
  left: 0;
}
.inputFilled select:focus, .inputFilled input:focus, .inputFilled textarea:focus {
  outline: none;
}
.inputFilled select:focus ~ .control-label, .inputFilled input:focus ~ .control-label, .inputFilled textarea:focus ~ .control-label {
  color: #FBFBFB;
  font-family: "Montserrat";
}
.inputFilled select:focus ~ .bar-form::before, .inputFilled input:focus ~ .babar-formr::before, .inputFilled textarea:focus ~ .bar-form::before {
  width: 100%;
  left: 0;
}

.checkbox label {
  font-family: "Montserrat";
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #FBFBFB;
  display: block;
}

.checkbox input {
  width: auto;
  opacity: 1e-8;
  position: absolute;
  left: 0;
}

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.checkbox .helper {
  color: #151515;
  position: absolute;
  top: 4px;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid #FBFBFB;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}
.checkbox .helper::before, .checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #FBFBFB;
  display: block;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: "";
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}
.checkbox .helper::before {
  top: 0.65rem;
  left: 0.38rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.checkbox .helper::after {
  top: 0.3rem;
  left: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkbox label:hover .helper {
  color: #FBFBFB;
}
.checkbox input:checked ~ .helper {
  color: #337ab7;
}
.checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}
.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}
.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  -webkit-transition-delay: 0.28s;
  transition-delay: 0.28s;
}

.checkbox + .checkbox {
  margin-top: 1rem;
}

/* Card's */
/* CHECKBOX */
input[type=checkbox] + label {
  display: block;
  cursor: pointer;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}

input[type=checkbox]:checked + label:before {
  background-color: #151515;
  border-color: #151515;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  background-color: #151515;
  border-color: #151515;
}

.box {
  width: auto;
  height: auto;
  display: grid;
  grid-template-rows: auto auto;
}
.box .values div,
.box small div {
  display: inline-block;
  vertical-align: top;
}
.box .values {
  margin: 0;
  padding: 5px 24px;
}
.box .values > div:first-child {
  margin-right: 2px;
}
.box .values > div:last-child {
  margin-left: 2px;
}
.box small {
  color: #151515;
  display: block;
  margin-top: 8px;
  font-size: 14px;
}

.slider {
  --primary: #151515;
  --handle: #fff;
  --handle-active: #b9b9b9;
  --handle-hover: #e8e8e8;
  --handle-border: 2px solid var(--primary);
  --line: #cdd9ed;
  --line-active: var(--primary);
  height: 23px;
  width: 90%;
  position: relative;
  pointer-events: none;
  margin: 0 auto;
}
.slider .ui-slider-handle {
  --y: 0;
  --background: var(--handle);
  cursor: grab;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 23px;
  height: 23px;
  transform: translateX(-50%);
  position: absolute;
  outline: none;
  display: block;
  pointer-events: auto;
}
.slider .ui-slider-handle div {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  transition: background 0.4s ease;
  transform: translateY(calc(var(--y) * 1px));
  border: var(--handle-border);
  background: var(--background);
}
.slider .ui-slider-handle:hover {
  --background: var(--handle-hover);
}
.slider .ui-slider-handle:active {
  --background: var(--handle-active);
  cursor: grabbing;
}
.slider svg {
  --stroke: var(--line);
  display: block;
  height: 83px;
  width: 100%;
}
.slider svg path {
  fill: none;
  stroke: var(--stroke);
  stroke-width: 1;
}
.slider .active, .slider > svg {
  position: absolute;
  top: -30px;
  height: 83px;
}
.slider > svg {
  left: 0;
  width: 100%;
}
.slider .active {
  position: absolute;
  overflow: hidden;
  left: calc(var(--l) * 1px);
  right: calc(var(--r) * 1px);
}
.slider .active svg {
  --stroke: var(--line-active);
  position: relative;
  left: calc(var(--l) * -1px);
  right: calc(var(--r) * -1px);
}
.slider .active svg path {
  stroke-width: 2;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

.MasonryIn2Lines img {
  margin: 0.5em;
  width: 100% !important;
  height: auto !important;
}
@media only screen and (min-width: 151px) and (max-width: 479px) {
  .MasonryIn2Lines {
    column-count: 1;
  }
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
  .MasonryIn2Lines {
    column-count: 1;
  }
}
@media only screen and (min-width: 481px) and (max-width: 719px) {
  .MasonryIn2Lines {
    column-count: 2;
  }
}
@media only screen and (min-width: 721px) and (max-width: 919px) {
  .MasonryIn2Lines {
    column-count: 3;
  }
}
@media only screen and (min-width: 921px) and (max-width: 1199px) {
  .MasonryIn2Lines {
    column-count: 4;
  }
}
@media only screen and (min-width: 1200px) {
  .MasonryIn2Lines {
    column-count: 5;
  }
}

.black-title-container {
  padding: 0 0 5vw 0;
}
.black-title-container .floating-title {
  overflow: hidden;
  width: 100%;
  position: relative;
  text-transform: uppercase;
}
.black-title-container .floating-title .black-title {
  color: #151515;
  font-size: calc(20px + 5vw);
  text-transform: uppercase;
  font-weight: 150;
  font-family: "Margaret Bold", sans-serif;
  line-height: 1;
}
.black-title-container .floating-title .small-title {
  color: #151515;
  text-transform: uppercase;
  font-size: calc(15px + 3vw);
  font-family: "Montserrat", sans-serif;
}

.btn-primary-raised {
  font-family: "Montserrat", sans-serif;
  padding: 1em 2em;
  margin: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
  border-radius: 0.15em;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  border: 0;
  outline: 0;
  color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 5px -3px #777;
  -webkit-box-shadow: 0 5px 5px -3px #777;
  -moz-box-shadow: 0 5px 5px -3px #777;
  background-color: #cb72ca;
}
.btn-primary-raised:hover {
  box-shadow: 0 3px 3px -3px #151515;
  background-color: #8e458d;
}

.btn-ripple .ripple {
  border-radius: 50%;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  position: absolute;
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0;
  }
}

/*# sourceMappingURL=main.css.map */
