
// Dropdown
.btn_form {
  width: 100px;
  height: 100px;
}
.tx-filter {
    white-space: nowrap;
    font-weight: 500;
    color: $dark;
    font-size: 0.9em;
}
.tx-filter-price {
  white-space: nowrap;
  font-weight: 800;
  color: $dark;
  font-size: 0.7em;
}
@mixin selectbox__displayWord {
  position: absolute;
  top: 50%;
  right: 16px;
  content: "";
  background: url("../images/graphic/icons/arrow-down-light-01.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  height: 16px;
  width: 16px;
  color: $dark;
  transform: translateY(-50%);
  transition: all 0.4s;
}

.contact-dropbox-container {
  width: auto;
  p {
    align-self: end;
  }
}

//  DROPDOWN  1
.selectbox {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .selectbox__displayWord {
    position: relative;
    height: 40px;
    border-bottom: 1px solid $dark;
    overflow: hidden;
    text-overflow: ellipsis;
    &::after {
      @include selectbox__displayWord();
    }
  }
  .selectbox__displayWord, .dropdown_options {
    padding: 12px 24px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    -moz-user-select: none; /* Mozila */
  }
  .option-container {
    width: 100%;
    max-height: 0;
    position: absolute;
    z-index: 999;
    opacity: 0;
    transition: all 0.3s ease;
    overflow: hidden;
    background-color: $light;
    top: 40px;
    .dropdown_options:hover {
      font-weight: 600;
    }
  }
}
.selectbox--active .option-container {
  max-height: 270px;
  opacity: 1;
  overflow-y: scroll;
}

.selectbox--active .selectbox__displayWord::after {
  transform: translateY(-50%) rotateZ(180deg);
}

.option__label { cursor: pointer; }
