.black-title-container {
 .floating-title {
   overflow: hidden;
   width: 100%;
   position: relative;
   text-transform: uppercase;
   .black-title {
     color: $dark;
    //  font-size: calc(20px + 3vw);
     text-transform: uppercase;
     font-weight: 150;
     font-family: "Margaret Bold", sans-serif;
     line-height: 1;
   }
   .small-title {
     text-transform: uppercase;
    //  font-weight: 900;
     font-size: calc(15px + 3vw);
     font-family: 'Montserrat', sans-serif;
   }
 }
}